# Sets

### 1)Unordered and Unindexed collection of items.
###  2)Set element are unique.Duplicate elemens are not allowed
###  3)Set element are immutable(cannot be changed)
###  4)Set itself is mutable.We can add or remove items from it

# 1) Set Creation

In [1]:
set4=set()
print(type(set4))

<class 'set'>

In [2]:
set={1,2,3,4,5,6}   #Set of integer
set

{1, 2, 3, 4, 5, 6}

In [3]:
len(set)

6

In [4]:
set1={1.4,346.4,98.56,56.89}   #Set of float
set1

{1.4, 56.89, 98.56, 346.4}

In [5]:
set2={'Ashok','Priya','Mamta','Josh'}    #Set of string
set2

{'Ashok', 'Josh', 'Mamta', 'Priya'}

In [6]:
set3={1,1,1,3,4,5,6,7,8,9}         #Set cannot print duplicate values
set3

{1, 3, 4, 5, 6, 7, 8, 9}

In [7]:
set={'Ashok',23,56,67,(2,4,5)}      #Set of Mixed Datatype
set

{(2, 4, 5), 23, 56, 67, 'Ashok'}

# 2)Loop through a Set

In [8]:
set6={'one','Two','Three','Four','Five','Six'}
for i in set6:
    print(i)

Four
Five
Three
one
Two
Six

In [9]:
for i in enumerate(set6):
    print(i)

(0, 'Four')
(1, 'Five')
(2, 'Three')
(3, 'one')
(4, 'Two')
(5, 'Six')

# 3)Set Membership

In [10]:
set6

{'Five', 'Four', 'Six', 'Three', 'Two', 'one'}

In [11]:
'one'in set6

True

In [12]:
'ten' in set6

False

In [13]:
if 'Three' in set6:
    print('Yeah it is present')
else:
    print('No it is not present')

Yeah it is present

In [14]:
if 'Ten' in set6:
    print('Yeah it is present')
else:
    print('No it is not present')

No it is not present

# 4)Add and Remove Items

In [15]:
set6

{'Five', 'Four', 'Six', 'Three', 'Two', 'one'}

In [16]:
set6.add('Nine')  #Add item to a set using add() method
set6

{'Five', 'Four', 'Nine', 'Six', 'Three', 'Two', 'one'}

In [17]:
set6.update(['Ten','Eleven','Twelve'])    #Add multiple item to set using update()
set6

{'Eleven',
 'Five',
 'Four',
 'Nine',
 'Six',
 'Ten',
 'Three',
 'Twelve',
 'Two',
 'one'}

In [18]:
set6.remove('Eleven')        #Remove the item using remove()
set6

{'Five', 'Four', 'Nine', 'Six', 'Ten', 'Three', 'Twelve', 'Two', 'one'}

In [19]:
set6.discard('Ten')   #Remove item using discard method
set6

{'Five', 'Four', 'Nine', 'Six', 'Three', 'Twelve', 'Two', 'one'}

In [20]:
set6.clear()
set6

set()

In [21]:
del set6    #delete the set object
set6

NameError: name 'set6' is not defined

# 5) Copy set

In [23]:
set6={'Five', 'Four', 'Six', 'Three', 'Two', 'one'}
set6

{'Five', 'Four', 'Six', 'Three', 'Two', 'one'}

In [25]:
set7=set6.copy()
set7

{'Five', 'Four', 'Six', 'Three', 'Two', 'one'}

# 6)Set Operation

### Union

In [26]:
A={1,2,3,4,5}
B={6,7,8,9}
C={10,11,12,13,14,15}

In [27]:
A|B|C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [28]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

### Intersection

In [30]:
A={1,2,3,4,5}
B={6,7,8,9,5}

In [31]:
A & B #Intersection is common in both sets.

{5}

In [32]:
A.intersection(B)

{5}

In [34]:
A.intersection_update(B)
A

{5}

### Difference

In [35]:
A={1,2,3,4,5}
B={6,7,8,9,5}

In [36]:
A-B    #set of elements that are only in A but not in B

{1, 2, 3, 4}

In [37]:
A.difference(B)

{1, 2, 3, 4}

In [38]:
B-A                      #set of elements that are only in B but not in A

{6, 7, 8, 9}

In [39]:
B.difference(A)

{6, 7, 8, 9}

In [41]:
B.difference_update(A)
B

{6, 7, 8, 9}

### Symmetric Difference

In [42]:
A={1,2,3,4,5}
B={6,7,8,9,5,4}

In [43]:
A^B   #Symmtric Difference(It will print values which is not available in both set)

{1, 2, 3, 6, 7, 8, 9}

In [44]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8, 9}

In [46]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5}

# Other Built in Function

In [47]:
A={1,2,3,4,5,6,7,8,9}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [48]:
sum(A)

45

In [49]:
max(A)

9

In [50]:
min(A)

1

In [51]:
len(A)

9

In [52]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [53]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]